*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 1000px;
	width: 100%;
	margin: auto;
}
/*start header and logo*/
header{
	background-color: #F2F2F2;
}

.sign-up{
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.sign-up .logo a{
	text-decoration: none;
}
.sign-up .logo a h1{
	color: #2D9CDB;
	font-family: Ruda;
	text-transform: capitalize;

}

.log-sign{
	display: flex;
	justify-content: space-between;
}

.log-sign a{
	text-decoration: none;
	color: black;
	align-self: center;
	cursor: pointer;
	font-family: Reem Kufi;
	text-transform: capitalize;
	font-size: 18px;
}

.log-sign a:first-child{
	margin-right: 10px;
}

/*end header and logo*/

/*start navbar*/
nav{
	background-color: #3C8AB8;
	margin-bottom: 20px;
}
nav ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	font-family: Reem Kufi;
	color: #FFF;
	text-transform: capitalize;
	font-size: 22px;
	font-weight: bold
}

nav ul li{
	cursor: pointer;
}

/*end navbar*/

/*start form*/
section{
	margin-bottom: 25px;
}
section .head p{
	color: #2D9CDB;
	font-family: Rancho;
	text-align: center;
	font-size: 65px;
	text-transform: capitalize;
}

section .form{
	display: flex;
	justify-content: center;
	padding-top: 15px;
}



section .form form label{
	color: #AAA5A5;
	text-transform: capitalize;
	font-family: Rambla;
	font-size: 20px;
}

section .form form input{
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #AAA5A5;
    width: 400px;
    padding: 6px 0;
    outline: none;
    text-indent: 10px;
    font-size: 16px;
    font-family: Rambla;
}
section .form form .btn-center{
	text-align: center;
}
section .form form .btn-center button{
	font-family: Rambla;
	color: #F4F4F4;
	font-size: 30px;	
	background: #2D9CDB;
	border-radius: 50px;
	border:none;
	padding: 10px 35px;
	text-transform: capitalize;
	outline: none;
	cursor: pointer;
}

/*end form*/

/*start footer*/

footer{
	background-color: #3C8AB8;
	color: #FFF;
	font-family: Rambla;
}

footer .foot{
	font-size: 18px;
	text-align: center;
}

footer .foot p{
	/*text-align: center;*/
	padding: 12px 0;
}

footer .foot p span{
	text-transform: uppercase;
}
/*end footer*/