<!-- start out team -->
<main>
  <div class="container">
    <h2>our team</h2>
    <div class="team">
      <div class="ghadeer bord">
        <div class="photo">
          <img src="assets/gha.jpg">
        </div>
        <p class="head">Ghadeer  Abdel-Nabi</p>
        <p class="para">Full Stack Web Developer</p>
        <div class="git-fb">
          <a href="#"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="moath bord">
        <div class="photo">
          <img src="assets/moa.jpg">
        </div>
        <p class="head">Moath Alnajjar</p>
        <p class="para">Frontend Web Developer</p>
        <div class="git-fb">
          <a href="#"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>

        </div>
      </div>
      <div class="mahmoud bord">
        <div class="photo">
          <img src="assets/mah.jpg">
        </div>
        <p class="head">Mahmoud Aldahdouh</p>
        <p class="para">Backend Web Developer</p>
        <div class="git-fb">
          <a href="#"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- end out team -->
