<div class="login">
<section>
			<div class="container">
				<div class="head">
					<p>login</p>
				</div>
				<div class="form">
					<form action="/login" method="POST">
						<label>email</label><br>
						<input type="text" name="email" required>
						<br><br>
						<label>password</label><br>
						<input type="password" name="password" required>
						<p class = "red-msg">{{errorMessage}}</p>
						<br><br><br>
						<div class="btn-center">
							<button type="submit">login</button>
						</div>

						<p>if you don't have account.<span><a href="#">sign up</a></span></p>

					</form>
				</div>
			</div>
		</section>
</div>
		<!-- end form -->
