<section class="sec-book-add" id="boooook">
  <div class="container">
    <h2>Recently added</h2>
    <div class="cont-book">
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn font">83765482263</p>
          <p class="author font">jorge b. thomas</p>
          <p class="version font">13 edition</p>
          <div class="btn-bor">
            <button>borrow</button>
          </div>
        </div>
      </div>
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn font">83765482263</p>
          <p class="author font">jorge b. thomas</p>
          <p class="version font">13 edition</p>
          <div class="btn-bor">
            <button>borrow</button>
          </div>
        </div>
      </div>
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn font">83765482263</p>
          <p class="author font">jorge b. thomas</p>
          <p class="version font">13 edition</p>
          <div class="btn-bor">
            <button>borrow</button>
          </div>
        </div>
      </div>
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn font">83765482263</p>
          <p class="author font">jorge b. thomas</p>
          <p class="version font">13 edition</p>
          <div class="btn-bor">
            <button>borrow</button>
          </div>
        </div>
      </div>

      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn font">83765482263</p>
          <p class="author font">jorge b. thomas</p>
          <p class="version font">13 edition</p>
          <div class="btn-bor">
            <button>borrow</button>
          </div>
        </div>
      </div>

      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn">83765482263</p>
          <p class="author">jorge b. thomas</p>
          <p class="version">13 edition</p>
          <button>borrow</button>
        </div>
      </div>
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn">83765482263</p>
          <p class="author">jorge b. thomas</p>
          <p class="version">13 edition</p>
          <button>borrow</button>
        </div>
      </div>
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn">83765482263</p>
          <p class="author">jorge b. thomas</p>
          <p class="version">13 edition</p>
          <button>borrow</button>
        </div>
      </div>
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn">83765482263</p>
          <p class="author">jorge b. thomas</p>
          <p class="version">13 edition</p>
          <button>borrow</button>
        </div>
      </div>
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn">83765482263</p>
          <p class="author">jorge b. thomas</p>
          <p class="version">13 edition</p>
          <button>borrow</button>
        </div>
      </div>
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn">83765482263</p>
          <p class="author">jorge b. thomas</p>
          <p class="version">13 edition</p>
          <button>borrow</button>
        </div>
      </div>
      <div class="book-img-info">
        <div class="photo">
          <img src="assets/calc.jpg">
        </div>
        <div class="photo-info">
          <p class="name">thomas calculus</p>
          <p class="isbn">83765482263</p>
          <p class="author">jorge b. thomas</p>
          <p class="version">13 edition</p>
          <button>borrow</button>
        </div>
      </div>
    </div>
  </div>
</section>
