
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="student help">
  <meta name="description" content="student help">
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" href="css/style-signup.css">
  <link href="https://fonts.googleapis.com/css?family=Rambla|Rancho|Reem+Kufi|Ruda" rel="stylesheet">
  <title></title>
</head>
