<!-- start header and logo -->
		<header>
			<div class="container">
				<div class="sign-up">
					<div class="logo">
						<a href="#"><h1>student help</h1></a>
					</div>
					<div class="log-sign">
						<a href="#" target="_blank"><p>login</p></a>
						<a href="#" target="_blank"><p>signup</p></a>
					</div>
				</div>
			</div>
		</header>
		<!-- end header and logo -->

		<!-- start navbar  -->
		<nav>
			<div class="container">
				<ul>
					<li>home</li>
					<li>books</li>
					<li>search</li>
					<li>about</li>
				</ul>
			</div>
		</nav>
		<!-- end navbar -->
